@model IEnumerable<RState.Tb_Pictures>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col col-lg-12">
        <h3>Pictures Information</h3>
        @Html.ActionLink("Create New", "Create")
        <hr />
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Title")
                    </th>
                    <th>
                        @Html.DisplayName("Url")
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="margin-left:auto;">
                        <td style="padding: .02rem .2rem;">
                            @Html.DisplayFor(modelItem => item.Tb_Properties.Title)
                        </td>
                        <td style="padding: .02rem .1rem;">
                            <img src="~/images/site/@item.PicUrl" alt="Property Picture" style="width: 100px; height:96px;" />
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
