@model IEnumerable<RState.Tb_Bookings>

@{
    ViewBag.Title = "Index";
}
<div class="row mb-2">
    <div class="col col-lg-12">
        <h3>Bookings Information</h3>
        <hr />
        @using (Html.BeginForm("Index", "Bookings", FormMethod.Get, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
        <div class="input-group">
            <input type="text" class="form-control" name="sTitle" placeholder="Search Properties" />
            <input type="text" class="form-control" name="sUser" placeholder="Search Customer" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="fas fa-search mr-2"></i>Search
                </button>
                <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Bookings")">
                    <i class="fas fa-redo mr-2"></i>Reset
                </a>
                <a href="@Url.Action("Create", "Bookings")" class="btn-data btn btn-outline-success">
                    <i class="fas fa-plus mr-2"></i>Create
                </a>
            </div>
        </div>
        }
    </div>
</div>
<div class="row">
    <div class="col col-lg-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Properties")
                    </th>
                    <th>
                        @Html.DisplayName("Customer")
                    </th>
                    <th>
                        @Html.DisplayName("Investment")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostedOn)
                    </th>
                    <th>
                        @Html.DisplayName("Alw")
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr style="margin-left:auto;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Tb_Properties.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tb_Users.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvAmt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAllow)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>